body {
    width: 1024px;
    text-align: center;
    background-color: blanchedalmond;
}
.navigation {

}
h1, h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.photocard {
    width: 150px;
    height: 150px;
}